@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;

}

.title {
    color: white;
    text-align: center;
    font-size: 5em;
}

.blurform {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 35%;
    margin: 0 auto;
    padding: 10px;
}

h6 {
    color: white;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}